#topGnbbg{
	background: #ededf3;
}

#topGnb{
	margin: auto;
	width: 1100px;
}

.topGnb{
	font-size: x-small;
}

.topBanner{
	font-size: x-small;
	margin-top: 10px;
}

#middleGnb{
	margin: auto;
	width: 1100px;
	margin-top: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

#bottomGnb{
	background-color: #f45951;
	height: 35px;
	font-size: medium;
}

#bottomGnbList{
	margin: auto;
	width: 1100px;
	color: #f2f2f2;
}

.bottomGnbList{
	list-style: none;
	margin-left: 15px;
	margin-top: 2px;
	float: left;
}

#bottomGnbRight{
	background-color: #4b4848;
	color: #f2f2f2;
}

#login{
	margin: auto;
	width: 800px;
	margin-top: 80px;
}

#loginInput{
	width: 420px;
	float: left;
}

#loginCheck{
	margin-top: 15px;
}

#loginImage{
	width: 300px;
	float: right;
}

#snsLogin{
	margin-top: 30px;
	width: 420px; 
	float: left;
}

#loginAnswer{
	width: 420px;
	font-size: small;
	color: gray;
	margin-top: 10px;
	float: left;
}

#loginBottom{
	width: 420px;
	font-size: small;
	margin-top: 10px;
	float: left;
}

#loginBottomImage{
	width: 420px;
	margin-top: 40px;
	float: left;
}

#footerWrap{
	background-color: gray;
	margin-top: 100px;
	float: left;
}

#footerTop{
	margin: auto;
	width: 1100px;
	float: left;
}

.footerList{
	list-style: none;
	float: left;	
}

