#topGnbbg{
	background: #ededf3;
}

#topGnb{
	margin: auto;
	width: 960px;
}

.topGnb{
	font-size: x-small;
}

.topBanner{
	font-size: x-small;
	margin-top: 10px;
}

#middleGnb{
	margin: auto;
	width: 960px;
	margin-top: 50px;
	margin-bottom: 20px;
}

.mainWrap{
	background-color: #f3f4fa; 	
	border-top: 1px solid black;
	height: 900px;
}

#openIdWrap{
	width: 770px;
	margin: auto;
}

.logoTop{
	text-align: center;
	margin-bottom: 35px;
	margin-top: 35px;
}

.whiteWrap{
	background-color: white;
	height: 700px;
}

.leftWrap{
	float: left;
	width: 180px;
}

.gradeWrap{
	font-size: 15px;
	margin-top: 25px;
	margin-left: 20px;
}

.gradeWrap > span{
	color: gray;
}

.gradeWrap > u{
	color: red;
}

.memberFunction{
	border-top: 1px solid gray;
	margin-top: 20px;
}

.memberModify{
	margin-top: 3px;
}

.leftFunction{
	text-align: center;
	margin-top: 12px;
	font-size: 15px;	
}

.memberPwd{
	color: red;
}

.rightWrap{
	border-left: 1px solid gray;
	float: left;
}

.modifyWrap{
	width: 500px;
	margin: auto;
	margin-top: 40px;
	margin-left: 35px;
}

.memberHead{
	border-bottom: 2px solid black;
	height: 49px;
}

.normalInformation{
	margin-top: 40px;
	border-bottom:  1px solid gray;
}

.id{
	margin-top: 10px;
}

.col-3{
	padding-left: 0px;
	font-size: 14px;
	color: gray;
}

.col, col-6{
	font-size: 14px;
}

.idBottom{
	margin-top: 25px;
}

.btn{
	font-size: 12px;
}

.modifyBtn{
	padding: 0px;
	text-align: right;
}

.form-check-input:checked {
    background-color: red;
    border-color: red;
}

.bottomAnswer{
	margin-top: 30px;
}

.bottomAnswer > p{
	font-size: 12px;
	color: gray;
}




@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

#footerWrap{
	background-color: #e8e8ea;
	width : 100%;
	clear: both;
	display: inline-block;
	font-size: 12px;
}

#footerTop{
	margin: auto;
	width: 960px;
	margin-top: 20px;

}

#footerTopList{
	border-bottom: 1px solid #ced2d6;
	display: inline-block;
	width: 100%;
	text-align: left;
}

.footerList{
	list-style: none;
	margin:auto;
	font-size: small;
	float: left;
}

.footerListLi{
	list-style: none;
	float: left;
	margin-left: 20px;
	margin-bottom: 15px;
}

#footerBottom{
	display: inline-block;
	color: #999;
	text-align: left;
	width: 100%;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

dt{
	display: block;	
	float: left;
	margin-right: 36px;
}

dd{
	display: block;
	margin-inline-start: 40px;
}