

#logo{
	margin-left: 60px;	
	margin-top: 30px;
}

#register-wrap{
	margin: auto;
	width: 600px;
	margin-top: 40px;
}

h4{
	text-align: center;
}

#id{
	margin-top: 60px;
}


.form-control{
	border-style: none;
	text-align: center;
}

span{
	font-size: xx-small;
	color: gray;
}

#checkbox-gender{
	margin-left: 240px;
	margin-right: 240px;
}


		