#topLogo{
	margin-left: 20px;
	margin-top: 20px;
}

h5{
	text-align: center;
}

#register-wrap{
	margin: auto;
	width: 500px;
	margin-top: 40px;
}

h5{
	text-align: center;
	margin-top: 50px;
}

#id{
	margin-top: 60px;
}


.form-control{
	border-style: none;
	text-align: center;
}

span{
	font-size: xx-small;
	color: gray;
}

.checkbox-gender{
	margin-left: 210px; 
}




		