

#logo{
	margin-left: 60px;	
	margin-top: 30px;
}

#register-wrap{
	margin: auto;
	width: 600px;
	margin-top: 40px;
}

h4{
	text-align: center;
}

#id{
	margin-top: 60px;
}

#id-input{
	margin-top: 5px;
}

.form-control{
	border-style: none;
	text-align: center;
}

#period-button{
	margin: auto;
}
		