#wrap{
	margin: auto;
	width: 300px;	
}

h1{
	text-align: center;
	padding-top: 100px;
}

#id{
	padding-top: 50px;
}

#password{
	padding-top: 20px;
}

#checkBox{
	margin-top: 10px;
}

#loginCheckbox{
	font-size: small;
}

#loginButton{
	width: 300px;
	margin-top: 10px;
}

#found{
	margin-top: 10px;
}

#kLoginButton{
	width: 300px;
	margin-top: 30px;
}

.btn-outline-warning {
    --bs-btn-color: #000000;/*여기 색깔 바꾸는거 해야됨 ㅋ  */
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffc107;
    --bs-btn-hover-border-color: #ffc107;
    --bs-btn-focus-shadow-rgb: 255,193,7;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffc107;
    --bs-btn-active-border-color: #ffc107;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffc107;
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}

#nLoginButton{
	width: 300px;
	margin-top: 15px;
}



