#wrap{
	margin: auto;
	width: 300px;	
}

h1{
	text-align: center;
	padding-top: 100px;
}

#id{
	padding-top: 50px;
}

#password{
	padding-top: 20px;
}

#checkBox{
	margin-top: 10px;
}

#loginCheckbox{
	font-size: small;
}

#loginButton{
	width: 300px;
	margin-top: 10px;
}

#found{
	margin-top: 10px;
}

#kLoginButton{
	width: 300px;
	margin-top: 30px;
}
