footer{
	width: 1500px;
	margin: auto;
}

.img{
	float: left;
}

.footerTop{
	font-size: 25px;
}

.footerMiddle{
	font-size: 20px;
}

.footerBottom{
	justify-content: space-evenly;
	align-items: center;
}	