.contentWrap{
	width:1400px;
	margin: auto;
	margin-top: 100px;
}

.contentWrap > span{
	margin-left: 100px;
}

.leftDiv{
	display: flex;
	justify-content: space-between;
	padding-left: 100px;
	padding-right: 100px;
}

.leftVanner{
	height: 500px;
	width:150px;
	text-align: center;
	border-right: 1px solid #DEDEDE;
	
}

 ul{
	list-style: none;
	padding: 0;
}

.leftVanner > ul > li{
	margin-top: 50px;
	font-weight: bold;
	cursor: pointer; 
}

.rightContent{
	width: 700px;
	margin: auto;
}

section > b{
	font-size: 30px;
}

.contentWrap{
	margin-top: 150px;
}

.contentList > li{
	float: left;
	margin-left: 20px;
}





