.wrap{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 100px;
}

h3{
	color: black;
}

.searchWrap{
	border: 0.5px solid #262626;
	width: 100%;
	height: 90px;
	margin-bottom: 15px;
}

.selectSize{
	width: 200px;
	font-size: 13px;
}

.searchFirst{
	margin-left: 15px;
	margin-top: 15px;
}

.searchSecond{
	margin-left: 15px;
	margin-top: 5px;
}

.form-control{
	width: 200px;
	display: inline-block;
	height: 25px;
	padding: 0px;
}

.listWrap{
	margin-top: 15px;
	margin-bottom: 60px;
}



table, th, td{
			border: 1px solid black;
			border-collapse: collapse;
			font-size: 12px;
			text-align: center;
		}

.td1{
	width: 50px;
}	

.td7 , .td8{
	width: 150px;
}	

.td4, .td5{
	width: 200px;
}

.pagination_my{
				--bs-pagination-padding-x: 0.75rem;
			    --bs-pagination-padding-y: 0.375rem;
			    --bs-pagination-font-size: 1rem;
			    --bs-pagination-color: black;
			    --bs-pagination-bg: #fff;
			    --bs-pagination-border-width: 1px;
			    --bs-pagination-border-color: black;
			    --bs-pagination-border-radius: 0.375rem;
			    --bs-pagination-hover-color: black;
			    --bs-pagination-hover-bg: #e9ecef;
			    --bs-pagination-hover-border-color: black;
			    --bs-pagination-focus-color: var(--bs-link-hover-color);
			    --bs-pagination-focus-bg: #e9ecef;
			    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
			    --bs-pagination-active-color: #fff;
			    --bs-pagination-active-bg: #0d6efd;
			    --bs-pagination-active-border-color: black;
			    --bs-pagination-disabled-color: black;
			    --bs-pagination-disabled-bg: #fff;
			    --bs-pagination-disabled-border-color: black;
			    display: flex;
			    padding-left: 0;
			    list-style: none;
		}
		
.lastBtn{
	margin-top: 10px;
	margin-bottom: 100px;
}

.modalBtn{
	color: white;
}

.rightBtn{
	float: right;
}		
