#topGnbbg{
	background: #ededf3;
}

#topGnb{
	margin: auto;
	width: 960px;
}

.topGnb{
	font-size: x-small;
}

.topBanner{
	font-size: x-small;
	margin-top: 10px;
}

#middleGnb{
	margin: auto;
	width: 960px;
	margin-top: 50px;
}


#bottomGnb{
	background-color: #f45951;
	height: 35px;
	font-size: medium;
}

#bottomGnbList{
	margin: auto;
	width: 960px;
	color: #f2f2f2;
}

.bottomGnbList{
	list-style: none;
	margin-left: 15px;
	margin-top: 2px;
	float: left;
}

#bottomGnbRight{
	background-color: #4b4848;
	color: #f2f2f2;
}


/* #image{
	height: 416px;
} */

#contentWrap{
	margin: auto;
	width: 960px;
}

.rankingWrap{
	margin-bottom: 30px;
}

.rankingHeader > b{
	font-size: 25px;
}

ul{
	list-style:none;
}

a{
	text-decoration:none; 
	color:#333;
}
.rankingListWrap{
	padding:15px; 
	letter-spacing:-0.5px;
}

.tab_menu
{position:relative;
}

.tab_menu .list{
	overflow:hidden;
}
.tab_menu .list li{float:left; margin-right:14px;}
.tab_menu .list .btn{font-size:13px;}
.tab_menu .list .cont{display:none; position:absolute; top:25px; left:0; background:#555; color:#fff; text-align:center; width:250px; height:100px; line-height:100px;}
.tab_menu .list li.is_on .btn{font-weight:bold; color:green;}
.tab_menu .list li.is_on .cont{display:block;}

.action{
	width: 100%;
}







.todayBanner{
	width: 100%;
	margin-top: 23px;	
}

.bannerAnswer{
	text-align: center;	
	margin-top: 11px;
	margin-bottom: 11px;
}

.bottomBanner{
	margin-top: 40px;
}

#footerWrap{
	background-color: #e8e8ea;
	width : 100%;
	clear: both;
	display: inline-block;
	margin-top: 100px;
	font-size: 12px;
}

#footerTop{
	margin: auto;
	width: 960px;
	margin-top: 20px;

}

#footerTopList{
	border-bottom: 1px solid #ced2d6;
	display: inline-block;
	width: 100%;
	text-align: left;
}

.footerList{
	list-style: none;
	margin:auto;
	font-size: small;
	float: left;
}

.footerListLi{
	list-style: none;
	float: left;
	margin-left: 20px;
	margin-bottom: 15px;
}

#footerBottom{
	display: inline-block;
	color: #999;
	text-align: left;
	width: 100%;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

dt{
	display: block;	
	float: left;
	margin-right: 36px;
}

dd{
	display: block;
	margin-inline-start: 40px;
}
